// 颜色定义规范
$color-background = #F8F9F9
$color-background-d = rgba(197, 208, 204, 0.8)
$color-background-c=rgba(48,50,61,0.9)
$color-highlight-background = #0fa60f
$color-dialog-background = #666
$color-theme = white
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(0, 0, 0, 0.5)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-text-lll = rgba(0, 0, 0, 1)
$bg-color-1 = limegreen
$color-theme-2=limegreen
$bg-color-2=white



//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
//字体颜色规范
